.img-container {
    width:50%;
    height: 50%;
    padding: 0px 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
   

   
}

.img-container img{
    width: 400px;
    height: 250px;
}
